.body{
	background-color: #ffa9a9;
}

.main{
	background-color: #ffa9a9;
	height: 100%;
	width: 100%;
    top: 0px;
    left: 0px;
	justify-content: center;
	display: flex;
	position: absolute;

}

.black{
    background-color: black;
}


.container{
	background-color: white;
	height: 100px;
	width: 100%;
	justify-content: center;
	display: flex;
	position: absolute;
/*    top: 5%;*/
    top: 39px;
}

.title{
    color: #ffa9a9;
    font-family: Didot; 
    font-size: 56.38px; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 700; 
    line-height: 3px;
    transform: scale(1.5, 2);
    position: absolute;
    top: 50%;
    display: flex;
    white-space: nowrap;
    
}

.time{
	position: absolute;
    white-space: nowrap;
    color: black;
    font-size: 200px;
    top: 350px;
    font-weight: 700;
    font-family: Didot;
}

.daytype{
    color: #d95959;
    font-family: Didot;
    font-size: 400px;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    line-height: 3px;
    transform: scale(1.5, 2);
    position: absolute;
    display: flex;
    top: 100px;
}

.dayname{
    color: #af3737;
    font-family: Didot;
    font-size: 40px;
    opacity: 0.5;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    line-height: 3px;
    transform: scale(1.5, 2);
    position: relative;
    display: flex;
    top: 900px;
    left: 150px;
    
}

.nextdaytype{
    color: #d95959;
    font-family: Didot;
    font-size: 150px;
    opacity: 0.9;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    line-height: 3px;
    transform: scale(1.5, 2);
    position: absolute;
    display: flex;
    top: 320px;
    left: 500px;
}

.nextdayname{
    color: #af3737;
    font-family: Didot;
    font-size: 40px;
    opacity: 0.5;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    line-height: 3px;
    transform: scale(1.5, 2);
    position: relative;
    display: flex;
    top: 680px;
    left: 430px;
    
}

.prevdaytype{
    color: #d95959;
    font-family: Didot;
    font-size: 150px;
    opacity: 0.9;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    line-height: 3px;
    transform: scale(1.5, 2);
    position: relative;
    display: flex;
    top: 320px;
    left: -490px;
}

.prevdayname{
    color: #af3737;
    font-family: Didot;
    font-size: 40px;
    opacity: 0.5;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    line-height: 3px;
    transform: scale(1.5, 2);
    position: relative;
    display: flex;
    top: 680px;
    left: -590px;
    
}

.daytypecontainer{
    color: black;
    text-align: center;
    justify-content: center;
    display: flex;
    position: absolute;
/*    top: 50%;*/
}




